
<section class="bg-white py-8">

    <div class="container py-8 px-6 mx-auto">

        <p class="mt-8 mb-8">
            <br>
            <a class="text-gray-800 underline hover:text-gray-900" ></a>
        </p>

        <p class="mb-8">Rebecca Simmons is a painter and ceramist who creates sculptural and domestic pieces using a mixture of slabs, coils and moulding clay to allow strange folkloric characters to emerge. Rebecca has an MA in Fine Art from Chelsea college of Art and Design. Her work explores the affinities between clay and paint.</p>

    </div>

</section>