<div class="carousel relative container mx-auto" style="max-width:1600px;">
    <div class="carousel-inner relative overflow-hidden w-full">
        <!--Slide 1-->
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item absolute opacity-0" style="height:80vh;">
            <div class="block h-full w-full mx-auto flex p-0 md:pt-0 md:items-center bg-contain bg-no-repeat bg-center" style="background-image: url('../../static/img/carousel/Rebecca_Simmons_Dec22_12296_0.jpg')">
            </div>
        </div>
        <label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-black rounded-full bg-gray-300 hover:bg-gray-200 leading-tight text-center z-10 inset-y-0 left-0 lg:left-52 my-auto">‹</label>
        <label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-black rounded-full bg-gray-300 hover:bg-gray-200 leading-tight text-center z-10 inset-y-0 right-0 lg:right-52 my-auto">›</label>

        <!--Slide 2-->
        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0" style="height:80vh;">
            <div class="block h-full w-full mx-auto flex p-0 md:pt-0 md:items-center bg-contain bg-no-repeat bg-center" style="background-image: url('../../static/img/carousel/Rebecca_Simmons_Dec22_12293_0.jpg')">
            </div>
        </div>
        <label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-black rounded-full bg-gray-300 hover:bg-gray-200 leading-tight text-center z-10 inset-y-0 left-0 lg:left-52 my-auto">‹</label>
        <label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-gray-300 hover:bg-gray-200  leading-tight text-center z-10 inset-y-0 right-0 lg:right-52 my-auto">›</label>

        <!--Slide 3-->
        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0" style="height:80vh;">
            <div class="block h-full w-full mx-auto flex p-0 md:pt-0 md:items-center bg-contain bg-no-repeat bg-center" style="background-image: url('../../static/img/carousel/Rebecca_Simmons_Dec22_12295_0.jpg')">
            </div>
        </div>
        <label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-black rounded-full bg-gray-300 hover:bg-gray-200 leading-tight text-center z-10 inset-y-0 left-0 lg:left-52 my-auto">‹</label>
        <label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-gray-300 hover:bg-gray-200  leading-tight text-center z-10 inset-y-0 right-0 lg:right-52 my-auto">›</label>

        <!-- Add additional indicators for each slide-->
        <ol class="carousel-indicators">
            <li class="inline-block mr-3">
                <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
            </li>
            <li class="inline-block mr-3">
                <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
            </li>
            <li class="inline-block mr-3">
                <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-gray-400 hover:text-gray-900">•</label>
            </li>
        </ol>

    </div>
</div>