<footer class="container mx-auto bg-white py-8 border-t border-gray-400">
    <div class="container flex px-3 py-8 ">
        <div class="w-full mx-auto flex flex-wrap">
            <div class="flex w-full lg:w-1/2 ">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">Contact</h3>
                    <p class="py-4">
                        Rebecca Simmons, Painter and Ceramicist
                    </p>
                    <p class="py-4">
                        VICTORIA WORKS STUDIOS London Road, Chalford, Stroud, GL6 8HN Phone 07970 224470 general@Victoriaworksstudios.co.uk
                    </p>
                    <p class="py-4">
                        Phone 07970 224470 general@Victoriaworksstudios.co.uk
                    </p>
                </div>
            </div>
            <div class="flex w-full lg:w-1/2 lg:justify-end lg:text-right">
                <div class="px-3 md:px-0">
                    <h3 class="font-bold text-gray-900">Social</h3>
                    <ul class="list-reset items-center pt-3">
                        <li>
                            <a class="inline-block no-underline hover:text-black hover:underline py-1" href="https://www.instagram.com/rebsimmons12/">Rebecca Simmons on Instagram</a>
                        </li>
                        <li>
                            <a class="inline-block no-underline hover:text-black hover:underline py-1" href="https://www.facebook.com/profile.php?id=100083693903770">Rebecca Simmons on Facebook</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
