
<section class="w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center bg-contain bg-right bg-no-repeat" >

    <div class="grid grid-flow-row auto-rows-max w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center">
        <div class="grid grid-flow-row auto-rows-max w-full mx-auto bg-nordic-gray-light flex pt-12 md:pt-0 md:items-center">

        </div>
        <div>
            <div class="container grid grid-cols-2 gap-2 mx-auto border-t border-gray-400">

            <div class="w-full rounded">
                <img src="../../static/img/carousel/P3080083.jpeg" alt="image">
            </div>
            <div class="w-full rounded">
                <img src="../../static/img/carousel/rebecca%204.jpeg">
            </div>
            </div>
        </div>

    </div>


</section>