
    <div class="container mx-auto flex justify-center flex-wrap pb-10 pt-16 md:w-full lg:w-1/2">
        <div class="mx-auto flex flex-wrap">
            <div>
                <img class="w-full " alt="Rebecca Simmons" src="../../static/img/carousel/rebecca1.jpeg">
            </div>
        </div>
    </div>

    <div class="container mx-auto flex justify-center flex-wrap pb-16">
        <div class="mx-auto flex flex-wrap w-1/2">
            <div class ="flex w-full">
                Rebecca Simmons is a painter and ceramist who creates sculptural and domestic pieces using a mixture of slabs, coils and moulding clay to allow strange folkloric characters to emerge. Rebecca has an MA in Fine Art from Chelsea college of Art and Design. Her work explores the affinities between clay and paint.
            </div>

        </div>
    </div>