<nav id="header" class="w-full z-30 top-0 py-1 relative">
    <div class="w-full container mx-auto flex flex-col items-center justify-between mt-0 px-6 py-3">
        <div class="md:flex md:items-center md:w-auto w-full order-3 md:order-1" id="menu">
            <nav>
                {% if navigation.items %}
                <ul class="md:flex items-center justify-between text-base text-gray-700 pt-4 md:pt-0">
                    {% for item in navigation.items %}
                    <!--    <script> console.log('{{ loop.index | dump | safe }}')</script> -->
                    <li>
                        <div class="dropdown">
                            <button>
                                <span class="mr-2 2xl:px-8 text-lg"><a href={{item.url}}>{{item.text}}</a></span>
                            </button>
                            <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 overflow-visible">
                                {% if item.subitems %}
                                {% for subitem in item.subitems %}
                                {% set subitemloop = loop %}
                                <!--    <script> console.log('{{ subitem | dump | safe }}\n')</script>
                                    <script> console.log('{{item.subitemurls[loop.index]}}')</script> -->
                                <li><a class="bg-white z-50 hover:z-50 hover:bg-gray-200 py-2 px-4 block whitespace-no-wrap overflow-visible border-l border-r border-gray-200 last:border-b" href="{{item.subitemurls[subitemloop.index-1]}}">{{subitem}}</a></li>
                                {% endfor %}
                                {% for subitemurl in item.subitemurls %}
                                <script> console.log('{{ subitemurl | dump | safe }}')</script>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </nav>
        </div>
    </div>
</nav>