


<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 px-2 py-3">
    <a class="uppercase tracking-wide no-underline hover:no-underline font-bold text-gray-800 text-xl " href="#">
        Workshops  - Click on any of the courses below for more details and booking.
    </a>
</div>

<div class="grid gap-4 px-6">
            <!--Gallery 1-->
            <!--Responsive grid-->
            <div class="mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-2">
                    {% if wshopimages.images %}
                    {% for item in wshopimages.images  %}
                    <a href="{{item.url}}">
                        <img class="h-auto max-w-full border-1 border-gray" src="{{item.image}}" />
                        <div class="pt-3 flex items-center justify-between">
                            <!-- <p class="">{{item.desc}}</p>  -->
                        </div>
                    </a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>